<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Welcome to CodeCraft</title>
    <script language="JavaScript" src="/js/index.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div class="jumbotron">
        <h1>CodeCraft</h1>

        <p>
            Welcome to CodeCraft, let's code together!
        </p>

        <p>
            <button class="btn btn-lg btn-primary">Create a new session</button>
        </p>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title"><strong>Open pairing sessions</strong></h2>
        </div>
        <div id="sessions-list-container" class="panel-body">

        </div>
    </div>
</section>
</body>
</html>